@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-on-background);
    font-family: var(--font-body);
  }
}

* {
  /* outline: 1px solid red; */
}

@theme inline {
  --color-background: #0b1326;
  --color-on-background: #fffefe;
  --color-accent: #00dbf2;

  --font-headline: var(--font-space-grotesk);
  --font-body: var(--font-manrope);
  --font-label: var(--font-inter);
}
