@import 'tailwindcss';
@variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-on-background);
    font-family: var(--font-body);
  }
}

@theme inline {
  --color-background: #0b1326;
  --color-on-background: #fffefe;
  --color-accent: #00dbf2;

  --font-headline: 'Space Grotesk Variable', sans-serif;
  --font-body: 'Manrope Variable', sans-serif;
  --font-label: 'Inter Variable', sans-serif;
}
